.MovieBoxDiv {
    font-size: 2rem;
    padding-bottom: 3rem;
    color: var(--main-dark);
    background-color: var(--main-white);
    margin: 3rem;
}

.MovieBoxDiv h1 {
    color: var(--contrast);
    margin-bottom: 3rem;
}

#HomePageMore {
    margin: 3em;
    color: var(--main-dark);
    font-weight: 800;
    background-color: var(--contrast);
    border: none;
    font-size: 1em;
    width: 10em;
    height: 2em;
}

.MovieBox {
    background-color: pink;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    
}

.BoxChild {
    width: 40%;
    height: 100px;
}