.MovieBoxDiv {
    font-size: 2rem;
    padding-bottom: 3rem;
    color: var(--main-dark);
    background-color: var(--main-white);
    margin: 3rem;
}

.MovieBoxDiv h1 {
    color: var(--contrast);
    margin-bottom: 3rem;
}

#LinkToDash {
    margin: 3em;
    color: var(--main-dark);
    font-weight: 800;
    background-color: var(--contrast);
    border: none;
    font-size: 1em;
    width: 10em;
    height: 2em;
}

#LinkToDash a{
    text-decoration: none;
    color:var(--main-dark)
}
#LinkToDash a {
    opacity: 0.6;
}
#LinkToDash > a:hover {
    opacity: 1;
}

.PrevNextButtons {
    display: flex;

}

.PrevNextButtons button {
    margin: 3em;
    color: var(--main-dark);
    font-weight: 800;
    background-color: var(--contrast);
    border: none;
    font-size: 0.7em;
    width: 15em;
    height: 2em;
}

.MovieBox {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    
}

.BoxChild {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}


.PosterBoxChild {
    width: 300px;
    margin-bottom: 15px;

}