.Container {
    padding-top: 3em;
}

.Container input {
    height: 2em;
}

.Container button {
    height: 1.6em;
    width: 5em;
    border: none;
    color: var(--main-white);
    background-color: var(--main-dark);
    font-weight: 800;
    font-size: 1em;
    margin-left: 0.3em;
}