.NavBarDiv {
    font-size: 1.5rem;
    font-weight: 200;
    width: 100%;
    height: 5rem;
    background-color: var(--main-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 6% 4% 6%;
}

.NavBarDiv a, a:link, a:visited {
    
    text-decoration: none;
    color:var(--main-white)
}



.SubtitlesNavBar {
    display: flex;
    gap: 20px;
    font-size: 1rem;    
}