@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;700&display=swap');

/* Global variables color palette */
:root{
  --main-dark: #495159; /* Dark for navbar, etc */
  --main-white: #EFF9F0; /* Kinda white, texts, etc */
  --contrast: #F6AE2D; /* Yellow */
  --text-black: #0C0B00; /* Almost full black, for texts */
}

* {
  font-family: 'League Spartan', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
}
